<div class="aboutMe">
<h1> About me</h1>
<img src="../../../assets/profile"  alt="Profile">
<p> This may be my first ever Ruby project, but I have had much experience in programming websites. </p>
<br>
<p> I am a graduate of the University of Iowa with a degree in Social Informatics. I am also a student who is very 
close to finishing an intense code bootcamp from Delta V in Cedar Rapids Iowa. </p>

<div class="links">
<h3> My Links
<ul> 
    <li><a href="https://github.com/Kozer2">Github</a></li>
        <li><a href="https://www.linkedin.com/in/ben-hemann-5122aba7/">LinkedIn</a></li>
</ul>
<br>
<h3>Project Links:</h3>
      <ul>
      <li><a href="https://ecommerce-lab.azurewebsites.net">Ecommerce Application</a></li>
      <li><a href="https://digitalarthub.azurewebsites.net">Digital ArtHub Project</a></li>
      <li><a href="https://github.com/Kozer2/Expo-Labs">Expo Mobile App</a></li>
      <li><a href="https://github.com/Kozer2/RubyOnRailsProject">My Ruby on Rails project</a></li>
      </ul>
</div>
</div>